<!DOCTYPE html>
<html>
<link rel="stylesheet" href="\styles\style.css">

<head>
    <title>Consulta de Produtos</title>
</head>

<body>
    <h1>Consulta de Produtos</h1>
    <form action="/consulta" method="POST">
        <label for="nome">Nome do Produto:</label>
        <input type="text" name="nome" id="nome">
        <br>
        <label for="preco">Preço do Produto:</label>
        <input type="text" name="preco" id="preco">
        <br>
        <button type="submit">Consultar</button>
    </form>
</body>

</html>