<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>
<link rel="stylesheet" href="\styles\style.css">

<body>
    <h1>Cadastro de Produto</h1>
    <form action="/inserir-produto" method="POST">
        <label for="nome">Nome do Produto:</label>
        <input type="text" name="nome" id="nome">
        <br>
        <label for="preco">Preço do Produto:</label>
        <input type="text" name="preco" id="preco">
        <br>
        <button type="submit">Cadastrar</button>
    </form>
</body>

</html>